
.vs/hand-gesture-recognition-app/v17/.wsuo
.vs/hand-gesture-recognition-app/v17/DocumentLayout.backup.json
.vs/hand-gesture-recognition-app/v17/DocumentLayout.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
